<%= form_for([bander, report]) do |f| %>
    <%= f.hidden_field :bander_id, :value => current_bander.id %>
    <h2><%= f.label :date, :value => "Enter the Report Date:   " %>
    <%= f.date_field :date %></h2>
    <%= f.submit "Continue" %>
<% end %>
<%= form_tag(bander_path(bander), method: :get) do %>
    <%= submit_tag "Cancel"%>
<% end %>