    <h2>Report for: <%= report_datetime_formatted(@report.date) %></h2>

    <h2>Add Birds Banded:</h2>
    <table>
    <tr id="header_row"><th>Alpha Code</th><th>Species Name</th><th>Number Banded</th></tr>
    <%= form_for(:birds_of_species, :url => birds_of_species_index_path) do |f| %>
        <%= f.hidden_field :report_id, :value => @report.id %>
        <%= f.hidden_field :bander_id, :value => current_bander.id %>
        <%= f.fields_for :species do |s|%>
            <tr>
                <td class="<%= 'field_with_errors' if code_error_exists(@report) && last_record?(f, report) %>"><%= s.text_field :code, :name => "birds_of_species[species_attributes][code]" %></td>
                <td class="<%= 'field_with_errors' if name_error_exists(@report) && last_record?(f, report) %>"><%= s.text_field :name, :name => "birds_of_species[species_attributes][name]" %></td>
                <td><%= f.number_field :number_banded %></td>
                
            </tr>
        <%end%>
    </table>

    <%= f.submit "Add More" %>
    <%end%>

