<%= form_for report do |f| %>
<h2><%= f.label :date %>: 
<%= f.date_field :date %></h2>
<%= f.hidden_field :bander_id, :value => current_bander.id %>
<h2>Add Birds Banded:</h2>
<table>
<th>Alpha Code</th><th>Species Name</th><th>Number Banded</th>
<%= f.fields_for :birds_of_species do |b| %>
    <%= b.hidden_field :bander_id, :value => current_bander.id %>
    <%= b.fields_for :species do |s|%>
    <tbody>
        <tr>
            <td><%= s.text_field :code %></td>
            <td><%= s.text_field :name %></td>  <%# don't know how to do this%>
            <td><%= b.number_field :number_banded %></td>
            
        </tr>
    <%end%>
<%end%>
</tbody>
</table>
    
<%= f.submit "Continue" %>
<br><br>
<% if session[:show_writeup_field] %>
    <%= render partial: 'reports/writeup_field', locals: {f: f, report: report}%>
<% else %>
    <%= f.submit "Add a Writeup" %>
<% end %>
<br><br>

<% end %>

<br><br>
